.App {
  background-image: url("./components/image/cover.jpg");
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.vote{
  padding: 4px;
  margin: 0 5px;
  border-radius: 10px;
  background-color: rgb(226, 161, 215);
  width: 70px;
}

.cart{
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(226, 161, 215);
  padding: 10px 15px;
}

.product {
  width: 100%;
  min-height: 400px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px;
  margin: 15px;
  flex: 25%;
  max-width: 21%;
}

.App .product ul{
  text-align: center;
  height: 80px;
}

.App .product img {
  width: auto;
  height: 170px;

}

.Nav{
  display: flex;
  padding: 25px 10px;
  justify-content: center;
  background: rgba(247, 0, 255, 0.3);
}

.Nav img{
  height: 80px;
  width: auto;
}

.App .cost {
  text-align: center;
}

.total{
  padding: 15px 10px;
  color: #2e0236;
  background-color: rgb(226, 161, 215);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


